.under_url {
  color: White;
}

h2{
  font-size: 25px;
  font-family: sans-serif;
}

.under_bar {
  background-color: black;
  color: white;
  font-size: 10px;
  text-align: left;
  font-family: sans-serif;
}
