.home_bar {
  color: #ff4500;
  font-family: sans-serif;
  font-size: 50px;
  font-weight: bald;
  background-color: White;
  text-align: Center;
}

.under_url {
  font-color: White;
}

.home_url {
  font-color: blue;
}

h2 {
  font-size: 25px;
  font-family: sans-serif;
}

.under_bar {
  background-color: black;
  font-color: #ffffff;
  font-size: 10px;
  text-align: left;
  font-family: sans-serif;
}
